<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Omnipro_Blog::omni_pro"
            title="OMNI.PRO"
            module="Omnipro_Blog"
            sortOrder="10"
            resource="Magento_Backend::content"
        />
        <add
            id="Omnipro_Blog::Articles"
            title="Articles"
            translate="title"
            module="Omnipro_Blog"
            sortOrder="10"
            parent="Omnipro_Blog::omni_pro"
            action="omnipro_blog/article"
            resource="Magento_Backend::content"
            dependsOnModule="Omnipro_Blog"
        />
        <add
            id="Omnipro_Blog::Categories"
            title="Categories"
            translate="title"
            module="Omnipro_Blog"
            sortOrder="15"
            parent="Omnipro_Blog::Articles"
            action="omnipro_blog/category"
            resource="Magento_Backend::content"
            dependsOnModule="Omnipro_Blog"
        />
    </menu>
</config>
